In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
from time import time

In [8]:
df = pd.read_csv('./week1/yellow_tripdata_2021-01.csv.gz',nrows=100)

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
engine.connect()

In [22]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [24]:
df_iter = pd.read_csv('./week1/yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize=10000)

In [26]:
df = next(df_iter)

In [27]:
len(df)

10000

In [28]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df

In [30]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [31]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 632 ms, sys: 21.2 ms, total: 653 ms
Wall time: 958 ms

1000

In [36]:
while True:
    t_start = time()
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk...took %.3f second' % (t_end - t_start))

inserted another chunk...took 1.079 second
inserted another chunk...took 1.092 second
inserted another chunk...took 0.867 second
inserted another chunk...took 0.975 second
inserted another chunk...took 0.985 second
inserted another chunk...took 0.917 second
inserted another chunk...took 1.070 second
inserted another chunk...took 1.012 second
inserted another chunk...took 0.909 second
inserted another chunk...took 1.008 second
inserted another chunk...took 0.883 second
inserted another chunk...took 1.047 second
inserted another chunk...took 1.128 second
inserted another chunk...took 0.890 second
inserted another chunk...took 1.005 second
inserted another chunk...took 1.005 second
inserted another chunk...took 0.970 second
inserted another chunk...took 0.928 second
inserted another chunk...took 0.912 second
inserted another chunk...took 1.048 second
inserted another chunk...took 1.001 second
inserted another chunk...took 0.863 second
inserted another chunk...took 1.242 second
inserted another chunk...took 0.941 second
inserted another chunk...took 0.949 second
inserted another chunk...took 1.020 second
inserted another chunk...took 0.929 second
inserted another chunk...took 1.002 second
inserted another chunk...took 0.944 second
inserted another chunk...took 0.884 second
inserted another chunk...took 1.008 second
inserted another chunk...took 1.107 second
inserted another chunk...took 1.138 second
inserted another chunk...took 0.897 second
inserted another chunk...took 0.889 second
inserted another chunk...took 1.003 second
inserted another chunk...took 0.944 second
inserted another chunk...took 1.024 second
inserted another chunk...took 0.905 second
inserted another chunk...took 0.911 second
inserted another chunk...took 0.960 second
inserted another chunk...took 1.058 second
inserted another chunk...took 0.920 second
inserted another chunk...took 1.160 second
inserted another chunk...took 0.958 second
inserted another chunk...took 0.912 second
inserted another chunk...took 0.981 second
inserted another chunk...took 0.900 second
inserted another chunk...took 1.099 second
inserted another chunk...took 0.989 second
inserted another chunk...took 0.916 second
inserted another chunk...took 0.989 second
inserted another chunk...took 0.946 second
inserted another chunk...took 1.144 second
inserted another chunk...took 0.921 second
inserted another chunk...took 1.014 second
inserted another chunk...took 0.987 second
inserted another chunk...took 0.962 second
inserted another chunk...took 1.024 second
inserted another chunk...took 0.915 second
inserted another chunk...took 0.936 second
inserted another chunk...took 1.295 second
inserted another chunk...took 0.999 second
inserted another chunk...took 1.056 second
inserted another chunk...took 1.026 second
inserted another chunk...took 0.979 second
inserted another chunk...took 0.995 second
inserted another chunk...took 1.069 second
inserted another chunk...took 1.014 second
inserted another chunk...took 0.888 second
inserted another chunk...took 0.982 second
inserted another chunk...took 0.896 second
inserted another chunk...took 1.008 second
inserted another chunk...took 1.090 second
inserted another chunk...took 1.196 second
inserted another chunk...took 0.950 second
inserted another chunk...took 0.899 second
inserted another chunk...took 1.088 second
inserted another chunk...took 0.923 second
inserted another chunk...took 1.085 second
inserted another chunk...took 0.967 second
inserted another chunk...took 0.933 second
inserted another chunk...took 1.026 second
inserted another chunk...took 1.279 second
inserted another chunk...took 1.120 second
inserted another chunk...took 1.049 second
inserted another chunk...took 0.901 second
inserted another chunk...took 1.105 second
inserted another chunk...took 1.005 second
inserted another chunk...took 1.008 second
inserted another chunk...took 0.922 second
inserted another chunk...took 1.080 second
inserted another chunk...took 1.031 second
inserted another chunk...took 0.997 second
inserted another chunk...took 1.087 second
inserted another chunk...took 0.943 second
inserted another chunk...took 0.889 second
inserted another chunk...took 1.187 second
inserted another chunk...took 0.985 second
inserted another chunk...took 1.005 second
inserted another chunk...took 0.889 second
inserted another chunk...took 1.044 second
inserted another chunk...took 0.963 second
inserted another chunk...took 1.001 second
inserted another chunk...took 1.146 second
inserted another chunk...took 1.012 second
inserted another chunk...took 0.918 second
inserted another chunk...took 1.046 second
inserted another chunk...took 0.989 second
inserted another chunk...took 0.991 second
inserted another chunk...took 1.096 second
inserted another chunk...took 0.909 second
inserted another chunk...took 0.981 second
inserted another chunk...took 1.043 second
inserted another chunk...took 1.088 second
inserted another chunk...took 1.031 second
inserted another chunk...took 1.000 second
inserted another chunk...took 0.960 second
inserted another chunk...took 0.962 second
inserted another chunk...took 1.030 second
inserted another chunk...took 0.964 second
inserted another chunk...took 0.889 second
inserted another chunk...took 1.070 second
inserted another chunk...took 0.891 second
inserted another chunk...took 0.994 second
inserted another chunk...took 1.005 second
inserted another chunk...took 0.797 second
inserted another chunk...took 0.851 second
inserted another chunk...took 0.892 second
inserted another chunk...took 1.003 second
inserted another chunk...took 0.862 second
inserted another chunk...took 0.915 second
inserted another chunk...took 0.832 second
inserted another chunk...took 0.788 second

StopIteration:

In [1]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-19 19:25:10--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.171.8, 54.231.139.184, 54.231.197.80, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.171.8|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-01-19 19:25:10 (47.9 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [4]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [19]:
df_zones.to_sql(name='zones', con=engine, if_exists='append')

265

In [7]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

--2024-01-23 01:18:15--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240123T011815Z&X-Amz-Expires=300&X-Amz-Signature=1d099e09f1d9ac96a3ea80fc46b65af0d4e5cc36f19cb2cc4776ae3694738156&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-23 01:18:15--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240123T011815Z&X-Amz-Expires=300&X-Amz-Signature=1d099e09f1d9ac96a3ea80fc46b65af0d4e5cc36f19cb2cc4776ae3694738156&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7.5M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-09.csv.gz’

green_tripdata_2019 100%[===================>]   7.49M  --.-KB/s    in 0.06s

2024-01-23 01:18:15 (133 MB/s) - ‘green_tripdata_2019-09.csv.gz’ saved [7854533/7854533]

In [8]:
df_green_taxi = pd.read_csv('green_tripdata_2019-09.csv.gz')

/tmp/ipykernel_9853/1146649013.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green_taxi = pd.read_csv('green_tripdata_2019-09.csv.gz')

In [9]:
df_green_taxi.lpep_pickup_datetime = pd.to_datetime(df_green_taxi.lpep_pickup_datetime)
df_green_taxi.lpep_dropoff_datetime = pd.to_datetime(df_green_taxi.lpep_dropoff_datetime)

In [9]:
df_green_taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449063 entries, 0 to 449062
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               389920 non-null  float64
 1   lpep_pickup_datetime   449063 non-null  object
 2   lpep_dropoff_datetime  449063 non-null  object
 3   store_and_fwd_flag     389920 non-null  object
 4   RatecodeID             389920 non-null  float64
 5   PULocationID           449063 non-null  int64
 6   DOLocationID           449063 non-null  int64
 7   passenger_count        389920 non-null  float64
 8   trip_distance          449063 non-null  float64
 9   fare_amount            449063 non-null  float64
 10  extra                  449063 non-null  float64
 11  mta_tax                449063 non-null  float64
 12  tip_amount             449063 non-null  float64
 13  tolls_amount           449063 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  449063 non-null  float64
 16  total_amount           449063 non-null  float64
 17  payment_type           389920 non-null  float64
 18  trip_type              389920 non-null  float64
 19  congestion_surcharge   389920 non-null  float64
dtypes: float64(15), int64(2), object(3)
memory usage: 68.5+ MB

In [10]:
df_green_taxi.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [11]:
df_green_taxi_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', iterator=True, chunksize=100000)

In [12]:
df_green_taxi = next(df_green_taxi_iter)

In [14]:
len(df_green_taxi)

100000

In [15]:
df_green_taxi.lpep_pickup_datetime = pd.to_datetime(df_green_taxi.lpep_pickup_datetime)
df_green_taxi.lpep_dropoff_datetime = pd.to_datetime(df_green_taxi.lpep_dropoff_datetime)

In [13]:
df_green_taxi.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [28]:
%time df_green_taxi.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 6.96 s, sys: 62.7 ms, total: 7.02 s
Wall time: 10.4 s

1000

In [14]:
while True:
    t_start = time()
    df_green_taxi = next(df_green_taxi_iter)

    df_green_taxi.lpep_pickup_datetime = pd.to_datetime(df_green_taxi.lpep_pickup_datetime)
    df_green_taxi.lpep_dropoff_datetime = pd.to_datetime(df_green_taxi.lpep_dropoff_datetime)

    df_green_taxi.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk...took %.3f second' % (t_end - t_start))

inserted another chunk...took 10.769 second
inserted another chunk...took 10.391 second

/tmp/ipykernel_9853/527466088.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green_taxi = next(df_green_taxi_iter)

inserted another chunk...took 10.535 second
inserted another chunk...took 4.689 second

StopIteration:

In [15]:
len(df_green_taxi)

49063